.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border: 2px solid black;
}
.login-form{
    border: 1px solid gray;
    padding: 30px;
    width: 20%;
}